mixin navlink(text , location)
  li.nav-item
        a.nav-link(href = location)= text


nav.navbar.navbar-expand-xl.navbar-dark.bg-dark

  a.navbar-brand(href='/') 
    img(src='/images/iconlogo.png', style='width:66px;height:55px;border:0') 
   
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
         

     
     +navlink('Home','/')
     +navlink('Create','/survey/add')
     +navlink('Survey','/survey')
     +navlink('Take survey', '/surveys')
    
     
    ul.navbar-nav
    
     if isLoggedIn
        +navlink('logout','/logout')
        div.text-white Welcome #{user.username}
     else
        +navlink('login','/login')
        +navlink('Register','/register')
     
    form.form-inline.my-2.my-lg-0
    
      