//- Author: Harshkumar patel-200394746 Nihar patel-200396470 Yash Nakrani-200395656 arpit patel-200393479
//- website: https://survey-site-online.herokuapp.com/
//- this is file to add your survey 




extend layout
block content
  
  h1 Add A New Survey
  form.jumbotron.text-center(method='post' action='/survey/add')
    div.form-group
      label Title
      input(name='title' required placeholder='Title')
    div.form-group
      label Description
      input(name='description' required placeholder='Description')
    div.form-group
      input(type='submit' value='Add')