extend layout
block content
  a(href='/survey' title='List Surveys') List Surveys
  h1 Add A New Survey
  form.jumbotron.text-center(method='post' action='/survey/add')
    div.form-group
      label Title
      input(name='title' required placeholder='Title')
    div.form-group
      label Description
      input(name='description' required placeholder='Description')
    div.form-group
      input(type='submit' value='Add')