extends layout

block content

    
    h1 Login Form
    
    form(method="POST")
      .form-group
      
        
        span Name
        input.contact(type='text', name='username', value='')
         
    
      .form-group
        span password
        input.contact(type='password', name='password', value='')
        if error && error.length
            .alert.alert-danger= error
     
      p(style='padding-top: 15px')
        input.submit(type='submit', name='Login', value='submit')

    
       
                 