extends layout

block content

    
    h1 Login Form
    
    form.contanier(method="POST")
      .form-group.text-center
        span Name
        input.contact(type='text', name='username', value='')    
      .form-group
        span Password
        input.contact(type='password', name='password', value='')
        if error && error.length
          .alert.alert-danger= error
      .form-group.text-center
        input.submit(type='submit', name='Login', value='submit')

    
       
                 