//- Author: Harshkumar patel-200394746 Nihar patel-200396470 Yash Nakrani-200395656 arpit patel-200393479
//- website: https://survey-site-online.herokuapp.com/
//- Description: this is file of login file form for login to user 

extends layout

block content

    
    h1 Login Form
    
    form.contanier(method="POST")
      .form-group.text-center
        span Name
        input.contact(type='text', name='username', value='')    
      .form-group.text-center
        span Password
        input.contact(type='password', name='password', value='')
        if error && error.length
          .alert.alert-danger= error
      .form-group.text-center
        input.submit(type='submit', name='Login', value='submit')
        br
        a(href='register') Don't Have Account? Register
    
       
                 