extends layout

block content

    
    h1.text-white.bg-secondary.text-center Login Form
    
    form.contanier.bg-info(method="POST")
    
      .form-group.text-center
      
        
        span Name
        input.form-control.contact(type='text', name='username', value='')
         
    
      .form-group.text-center
        span Password
        input.form-control.contact(type='password', name='password', value='')
        if error && error.length
            .alert.alert-danger= error
     
      p.text-center(style='padding-top: 15px')
        input.submit(type='submit', name='Login', value='submit')
      a.d-flex.badge-secondary.justify-content-center(href='/register') Register 

       
       
                 