extends layout

block content

       
    h1 Register Form
    form(method="POST")
      .form-group.text-center
        span Name
        input.contact(type='text', name='username', value='')
      .form-group.text-center
        span password
        input.contact(type='Password', name='password', value='')
      .form-group.text-center
        input.submit(type='submit', name='register', value='submit')

        