//- Author: Harshkumar patel-200394746 Nihar patel-200396470 Yash Nakrani-200395656 arpit patel-200393479
//- website: https://survey-site-online.herokuapp.com/
//- Description: This is file of Register file for the user to register

extends layout

block content

       
    h1 Register Form
    form(method="POST")
      .form-group.text-center
        span Name
        input.contact(type='text', name='username', value='')
      .form-group.text-center
        span password
        input.contact(type='Password', name='password', value='')
      .form-group.text-center
        input.submit(type='submit', name='register', value='submit')
        br
        a(href='login') Already Have Account? Login
        