extends layout

block content
 
 h1 Survey
        each survey in allSurvey
            form(method='post' action='/surveyResult/add')
                div.form-control
                    label(name='title') Title:  #{survey.title}
                div.form-control
                    label(name='description')  Description: #{survey.description}
                div.form-control 
                    input(type='radio' name ='option')
                    |  Agree
                    br
                div.form-control 
                    input(type='radio' name ='option')
                    |  Disagree
                    br

        
        
                input(type='submit' value='Submit') 