//- Author: Harshkumar patel-200394746 Nihar patel-200396470 Yash Nakrani-200395656 arpit patel-200393479
//- website: https://survey-site-online.herokuapp.com/
//- Description: This is file of Survey for the user to select the user if he agree with the question or not
//- reference- use the form for the refrerence https://getbootstrap.com/docs/4.4/components/forms/





extends layout

block content
 
 h1 Survey
        each survey in allSurvey
            form(method='post' action='/surveyResult/add')
                div.form-control
                    label(name='title') Title:  #{survey.title}
                div.form-control
                    label(name='description')  Description: #{survey.description}
                div.form-control 
                    input(type='radio' name ='option')
                    |  Agree
                    br
                div.form-control 
                    input(type='radio' name ='option')
                    |  Disagree
                    br
                input(type='submit' value='Submit') 