extends layout

block content
    doctype html

    title Classfied Ads
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata')
    link(rel='stylesheet' href='/stylesheets/survey.css')
  
    #menu.w3-container
        h1 Surveys
          table.table.table-striped.table-bordered.table-sm
            thead  
            tr                       
              th Title
              th Description
              th Action                                
            tbody
            each survey in allSurvey
                tr
                  td #{survey.title}                    
                  td #{survey.description}                                   
                  td
                    a(href="/survey/edit/"+survey._id) Edit                            
                    a(href="/survey/delete/"+survey._id title="Delete" onClick="return confirm(\'Aru you sure want to delete it?\');") Delete 